<section class="pb-5">
  <div class="container">
    <h5 class="section-title h1">FAMOUS APPS</h5>
    <div class="row">
      <div class="col-md-4" *ngFor="let app of this.famousApps" >
        <app-appcard [app]="app"></app-appcard>
      </div>
    </div>
  </div>
</section>

<section class="pb-5">
  <div class="container">
    <h5 class="section-title h1">NEWEST APPS</h5>
    <div class="row">
      <div class="col-md-4" *ngFor="let app of this.newestApps" >
        <app-appcard [app]="app"></app-appcard>
      </div>
    </div>
  </div>
</section>

<section class="pb-5">
  <div class="container">
    <h5 class="section-title h1">CHEAPEST APPS</h5>
    <div class="row">
      <div class="col-md-4" *ngFor="let app of this.cheapestApps" >
        <app-appcard [app]="app"></app-appcard>
      </div>
    </div>
  </div>
</section>
