<div class="container-fluid">
  <div class="m-3">
    <h4 class="section-title h1">Beliebtesten Apps</h4>
  </div>
  <div class="d-flex shadow m-3 bg-white rounded">
    <div *ngFor="let app of this.famousApps">
      <app-appcard [app]="app"></app-appcard>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="m-3">
    <h4 class="section-title h1">Neuesten Apps</h4>
  </div>
  <div class="d-flex shadow m-3 bg-white rounded">
    <div *ngFor="let app of this.newestApps">
      <app-appcard [app]="app"></app-appcard>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="m-3">
    <h4 class="section-title h1">Teuersten Apps</h4>
  </div>
  <div class="d-flex shadow m-3 bg-white rounded">
    <div *ngFor="let app of this.cheapestApps">
      <app-appcard [app]="app"></app-appcard>
    </div>
  </div>
</div>

<!--
<div class="shadow-none p-3 mb-5 bg-light rounded">No shadow</div>
<div class="shadow-sm p-3 mb-5 bg-white rounded">Small shadow</div>
<div class="shadow p-3 mb-5 bg-white rounded">Regular shadow</div>
<div class="shadow-lg p-3 mb-5 bg-white rounded">Larger shadow</div>
-->
