<div class="contentContainer d-flex flex-column w-25">
  <div class="form-group">
    <label class="custom-control-label">App-Name</label>
    <input class="form-control" type="text" [(ngModel)]="this.title">
  </div>
  <div class="form-group">
    <label class="custom-control-label">Thumbnail</label>
    <input #thumbnailInput class="form-control-file" type="file" accept="thumbnail/x-png,thumbnail/gif,thumbnail/jpeg"/>
  </div>
  <div class="form-group">
    <label class="custom-control-label">Link</label>
    <input class="form-control" type="text"/>
  </div>
  <div class="form-group">
    <label class="custom-control-label">Bilder</label>
    <input class="form-control" type="text"/>
    <label class="custom-control-label">Tags</label>
    <input class="form-control" type="text"/>
    <button class="btn btn-primary" (click)="addTag(tagid)">Add</button>
    <div *ngFor="let image of images; let i = index">
      #{{image}} <span style="color: red"><i class="fa fa-minus-circle red" style="font-size:24px"
                                             (click)="images.splice(i,1)"></i></span>
    </div>

  </div>
  <div class="form-group">
    <label class="custom-control-label">Beschreibung</label>
    <input class="form-control" type="text" [(ngModel)]="this.text"/>
  </div>
  <div class="form-group">
    <label class="custom-control-label">Zum Entwickler</label>
    <input class="form-control" type="text"/>
  </div>
  <div class="form-group">
    <label class="custom-control-label">Tags</label>
    <div class="d-flex flex-row">
      <input class="form-control mr-sm-2" type="text" #tagid/>
      <button class="btn btn-primary px-3" (click)="addTag(tagid)"><i class="fa fa-plus-circle" aria-hidden="true"></i>
      </button>

    </div>
    <div *ngFor="let tag of tags; let i = index">
      #{{tag}} <span style="color: red"><i class="fa fa-minus-circle red" style="font-size:24px"
                                           (click)="tags.splice(i,1)"></i></span>
    </div>
  </div>
  <button class="btn btn-primary success" (click)="postApp(thumbnailInput)">New App</button>
</div>
