<div class="m-4 shadow-sm card bg-white" style="width: 160px; cursor: pointer" (click)="showAppDetails()"> <!--d-flex flex-column -->
  <!--image-->
  <div class="d-flex">
    <div class="bg-info">
      <img [src]="app.thumbnail" style="height: 160px; width: 160px;"/>
    </div>
  </div>

  <div class="d-flex flex-column m-2">
    <div class="flex-grow-1">
      <h6 class="card-title mb-0 text-truncate" data-toggle="tooltip" attr.title="{{app.title}}">{{app.title}}</h6>
      <p class="card-text text-truncate" data-toggle="tooltip"  attr.title="{{app.text}}">{{app.text}}</p>
    </div>

    <div class="d-flex flex-row">
      <div class="flex-grow-1">
        <app-star-rating [rating]="3" [overall]="5"></app-star-rating>
      </div>
      <div>{{app.price}} €</div>
    </div>

  </div>
</div>
