<div class="pt-4 d-flex flex-row" id="fullheight">

  <app-vertical-app-list [apps]="this.sidebarApps" routerPrefix='/home/apps/'></app-vertical-app-list>

  <div class="flex-grow-1 mx-4 shadow-lg" style="overflow-y: auto;overflow-x:hidden">
    <div class="row">
      <!-- headline -->
      <div class="col-sm-12 d-flex justify-content-between align-items-center">
        <h1 class="ml-3">{{this.app.title}}</h1>
        <img [src]="this.app.thumbnail" width="60" height="60"/>
        <a class="mr-3" [href]="this.app.link">
          Hier gehts zur App
          <i class="fa fa-external-link" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <hr>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <!-- COLUMN 1 -->
          <div class="pb-3">
            <h5>Tags</h5>
            <div class="d-inline mr-2" id="tagbar" *ngFor="let tag of this.app.tags">
              <a [routerLink]="" (click)="addTagToSearch(tag)">#{{tag.text}}</a>
            </div>
          </div>
          <div class="pb-3">
            <h5>Bilder</h5>
            <div class="d-inline mr-2" id="images" *ngFor="let thumbnail of [1,2]">
              <!-- TODO this.app.images, ggf. auch eigene images componente -->
              <img src="https://via.placeholder.com/40"/>
            </div>
          </div>
          <div class="pb-3">
            <h5>Beschreibung</h5>
            <p>{{this.app.text}}</p>
          </div>
          <div class="pb-3">
            <h5>Zum Entwickler</h5>
            <p>{{this.app.developer}}</p> <!-- TODO this.app.developer not served by backend -->
          </div>
          <div class="pb-3">
            <h5>Datum der Veröffentlichung</h5>
            <p>{{this.app.datePublished}}</p>
          </div>
        </div>
        <div class="col-sm-6">
          <!-- COLUMN 2 -->
          <div>
            <b>Bewertung: </b>
            <app-star-rating [rating]="this.app.rating" [overall]="5"></app-star-rating>
            <button class="btn btn-primary px-3" (click)="add(tagid)"><i class="fa fa-plus-circle"
                                                                         aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
