<div class="ml-5 shadow-lg">
  <div class="d-flex h-auto mb-5">
    <h1 class="w-50">{{this.app.title}}</h1>
    <div class="w-25 bg-info">Img</div>
  </div>

  <div>
    <div class="form-group">
      <label>App-Name</label>
      <input class="form-control" type="text" [(ngModel)]="this.app.title"/>
    </div>
    <div class="form-group">
      <label>Thumbnail</label>
      <input class="form-control" type="text"/>
    </div>
    <div class="form-group">
      <label>Link</label>
      <input class="form-control" type="text" [(ngModel)]="this.app.link"/> <!-- TODO backend has to serve link -->
    </div>
    <div class="form-group">
      <label>Images</label>
      <div class="d-flex flex-row">
        <input class="form-control mr-sm-2" type="text" #imagesInput/>
        <button class="btn btn-primary px-3" (click)="addTag(imagesInput)"><i class="fa fa-plus-circle"
                                                                              aria-hidden="true"></i>
        </button>
      </div>
      <div *ngFor="let image of [this.app.images]; let i = index">
        <!-- TODO workaround, backend has to serve a array of tags -->
        {{image}} <span style="color: red"><i class="fa fa-minus-circle red" style="font-size:24px"
                                              (click)="this.app.images.splice(i,1)"></i></span>
      </div>
    </div>
    <div class="form-group">
      <label>Beschreibung</label>
      <input class="form-control" type="text" [(ngModel)]="this.app.text"/>
    </div>
    <div class="form-group">
      <label>Zum Entwickler</label>
      <input class="form-control" type="text"/>
    </div>
    <div class="form-group">
      <label>Tags</label>
      <div class="d-flex flex-row">
        <input class="form-control mr-sm-2" type="text" #tagInput/>
        <button class="btn btn-primary px-3" (click)="addTag(tagInput)"><i class="fa fa-plus-circle"
                                                                           aria-hidden="true"></i>
        </button>
      </div>
      <div *ngFor="let tag of this.app.tags; let i = index">
        #{{tag.text}} <span style="color: red"><i class="fa fa-minus-circle red" style="font-size:24px"
                                             (click)="this.app.tags.splice(i,1)"></i></span>
      </div>
    </div>
    <button class="btn btn-primary btn-success" (click)="submit()">Save Changes</button>
  </div>
</div>
