/* You can add global styles to this file, and also import other style files */

.checked {
  color: orange;
}

html {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
}

html, body, #fullheight {
  min-height: 90% !important;
  height: 95%;
}

.tag-container {
  right: 0;
  margin-right: 2.5rem;
  top: 3px !important;
}

.tag {
  padding: .25rem .5rem;
  font-size: .7rem;
  line-height: 1.25;
  border-radius: .2rem;
  text-transform: none !important;
}
