<div class="contentContainer d-flex flex-row">
  <div class="w-25"></div>
  <div class="contentContainer w-50 mt-4">
    <div *ngIf="isSearchEmpty() && noTags(); else listSearchResults">

      <!-- Beliebtesten Apps -->
      <div class="d-flex flex-row align-items-center">
        <div class="flex-grow-1">
          <a class="bg-transparent text-dark text-decoration-none" href="/apps?filter=famous">
            <h3 class="font-weight-bold">Beliebtesten Apps</h3>
          </a>
        </div>
        <button type="button" class="btn btn-success">Mehr ansehen</button>
      </div>
      <div class="d-flex m-3 mb-5 shadow bg-light overflow-auto">
        <div *ngFor="let app of this.famousApps">
          <app-appcard [app]="app"></app-appcard>
        </div>
      </div>

      <!-- Neuesten Apps -->
      <div class="d-flex flex-row align-items-center">
        <div class="flex-grow-1">
          <a class="bg-transparent text-dark text-decoration-none" href="/apps?filter=newest">
            <h3 class="font-weight-bold">Neuesten Apps</h3>
          </a>
        </div>
        <button type="button" class="btn btn-info">Mehr ansehen</button>
      </div>
      <div class="d-flex m-3 mb-5 shadow bg-light overflow-auto">
        <div *ngFor="let app of this.newestApps">
          <app-appcard [app]="app"></app-appcard>
        </div>
      </div>

      <!-- Günstigste Apps -->
      <div class="d-flex flex-row align-items-center">
        <div class="flex-grow-1">
          <a class="bg-transparent text-dark text-decoration-none" href="/apps?filter=cheapest">
            <h3 class="font-weight-bold">Günstigste Apps</h3>
          </a>
        </div>
        <button type="button" class="btn btn-warning">Mehr ansehen</button>
      </div>
      <div class="d-flex shadow m-3 bg-light overflow-auto">
        <div *ngFor="let app of this.cheapestApps">
          <app-appcard [app]="app"></app-appcard>
        </div>
      </div>
    </div>

    <ng-template #listSearchResults>
      <div *ngFor="let app of this.getSearchApps()">
        <app-appcard [app]="app"></app-appcard>
      </div>
    </ng-template>

  </div>

</div>
<!--
<div class="shadow-none p-3 mb-5 bg-light rounded">No shadow</div>
<div class="shadow-sm p-3 mb-5 bg-white rounded">Small shadow</div>
<div class="shadow p-3 mb-5 bg-white rounded">Regular shadow</div>
<div class="shadow-lg p-3 mb-5 bg-white rounded">Larger shadow</div>
-->
