<!--<header class="navbar navbar-light d-flex flex-row" style="background-color: #64b5f6 !important;">
  <div class="align-middle">
    <span class="fa fa-university fa-2x mr-2"></span>
    <a class="navbar-brand">Apps@HM</a>
  </div>

  <div class="d-flex flex-row w-50">
    <input class="form-control w-100 mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
  </div>

  <div>
    <a class="navbar-brand mr-2">%USERNAME%</a>
    <span class="fa fa-user fa-2x"></span>
  </div>
</header>
-->

<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bg-info sticky-top bd-navbar">
  <a class="navbar-brand">Apps@HM</a>
  <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Apps@HM">
    <span class="fa fa-university fa-2x text-dark"></span>
  </a>

  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/someOtherPath">Apps</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/home/problem">Problem melden</a>
      </li>
    </ul>
  </div>


  <!-- TODO Breite der Suchleiste ist irgendwie bei meinem Umbau kaputt gegangen-->
  <!--
  Dies soll nur als Beispiel dienen
  Die Tags sollten irgendwo rechts in der Suchleiste dargestellt werden. So wie im Mock.
  Habe CSS zum Demozweck eingefügt, kannst komplett löschen.
  -->
  <div class="d-flex flex-row w-50 m-md-auto">
    <div id="container" >
      <input class="form-control w-100 mr-sm-2" type="search" placeholder="Search" aria-label="Search" #searchInput (keyup)="search(searchInput)">
      <div id="click">
        <div *ngFor="let tag of this.getTags()" class="d-inline-block">{{tag.text}}</div>
      </div>
    </div>
    <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
  </div>

  <div *ngIf="isLoggedIn(); else login">
    <!-- TODO implement dropdown like
    |-------------------|
    |           Username|
    |-------------------|
    |          |    sth |
    |          |--------|
    |          | Logout |
    |          |--------|
    |                   |
    |                   |
    -->
    {{getUsername()}}
    <div class="btn btn-bd-download d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" (click)="logout()">
      Logout
    </div>
  </div>
  <ng-template #login>
    <a class="btn btn-bd-download d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" routerLink="/login">Login</a>
  </ng-template>
</header>
