<!--<header class="navbar navbar-light d-flex flex-row" style="background-color: #64b5f6 !important;">
  <div class="align-middle">
    <span class="fa fa-university fa-2x mr-2"></span>
    <a class="navbar-brand">Apps@HM</a>
  </div>

  <div class="d-flex flex-row w-50">
    <input class="form-control w-100 mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
  </div>

  <div>
    <a class="navbar-brand mr-2">%USERNAME%</a>
    <span class="fa fa-user fa-2x"></span>
  </div>
</header>
-->

<header class="navbar navbar-dark flex-column flex-md-row bg-info sticky-top">
  <a class="navbar-brand">Apps@HM</a>
  <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Apps@HM">
    <span class="fa fa-university fa-2x text-dark"></span>
  </a>

  <div class="navbar-nav flex-row">
    <div class="nav-item ml-2">
      <a class="nav-link" href="/home/apps">Home</a>
    </div>
    <!--
        <div class="nav-item ml-2">
          <a class="nav-link" href="/home/apps">Apps</a>
        </div>
    -->
    <div class="nav-item ml-2">
      <a class="nav-link" routerLink="/home/problem">Problem melden</a>
    </div>
  </div>


  <!-- Search bar mit tags die rechts angefügt werden !-->
  <div class="navbar-nav flex-row flex-grow-1 mx-2 align-items-center">
    <div class="flex-grow-1 position-relative">
      <input class="form-control w-100 mr-sm-2"
             type="search"
             placeholder="Search"
             aria-label="Search"
             #searchInput
             (keyup)="search(searchInput)">
      <div *ngIf="this.getTags().size > 0"
           class="position-absolute d-flex flex-row-reverse tag-container">
        <div class="tag btn btn-secondary ml-1"
             *ngFor="let tag of this.getTags()" (click)="remove(tag)">
          {{tag.text}}
          <span>x</span>
        </div>
      </div>
    </div>
    <button class="btn btn-success" type="submit">Search</button>
  </div>

  <div *ngIf="isLoggedIn(); else login">
    <!-- TODO dropdown war irgendwie nicht droppable, deswegen hab ich das hier mal auskommentiert das die Menu-Items zugänglich sind-->
    <!--<div class="dropdown">-->
      <!--<button class="btn btn-bd-download d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
        <!--{{getUsername()}}-->
      <!--</button>-->
      <div aria-labelledby="dropdownMenuButton"> <!-- class="dropdown-menu"-->
        <h6 class="dropdown-header">Developer Tasks</h6>
        <a class="dropdown-item" routerLink="/user/myapps/new">Neue App</a>
        <a class="dropdown-item" routerLink="/user/myapps/new">App editieren</a>
        <div *ngIf="this.isAdmin()">
          <h6 class="dropdown-header">Admin Tasks</h6>
          <a class="dropdown-item" href="#">Probleme anzeigen</a>
        </div>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" routerLink="/login" (click)="logout()">Logout</a>
      </div>
    </div>
  <!--</div>-->
  <ng-template #login>
    <a class="btn btn-bd-download d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" routerLink="/login">Login</a>
  </ng-template>
</header>
