
.dropdown-item:hover {
  transition: all .1s linear;
  background-color: #4285f4 !important;
  border-radius: .125rem;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  color: #fff !important;
  text-decoration: none;
}
