<div id="fullheight" class="container shadow-lg ml-2 overflow-auto" style="height:100%; min-width: 320px">
  <div *ngFor="let app of this.apps">

    <div class="card mt-2 shadow-sm" [routerLink]="[this.routerPrefix, app.id]" queryParamsHandling="merge">
      <div class="row no-gutters">
        <div class="col-md-4 d-flex justify-content-center align-items-center">
          <img [src]="app.thumbnail" class="card-img" alt="" style="inline-size: 80px">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title text-truncate">{{app.title}}</h5>
            <div class="flex-grow-1">
              <app-star-rating [rating]="3" [overall]="5"></app-star-rating>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
